*{
    /*border: 1px solid red;*/
    box-sizing: border-box;
    overflow-wrap: break-word;
    text-decoration: none;
    color: #c0a1b4;
}

body{
    margin: 30px;
    padding: 0;
    background-color: #1a0d15;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 500;
    min-width: 630px;
}

.body{
    padding: 30px;
    margin: 0;
    display: flex;
    column-gap: 20px;
}

.firstcolumn{
    display: flex;
    width: 20%;
    flex-direction: column;
    min-width: 150px;
    row-gap: 20px;
}

.secondcolumn{
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 400px;
    row-gap: 20px
}

section{
    background-color: #2c1725;
    box-shadow: 3px 3px #0a0509;
}

a:hover{
    color: #ecdce6;
    transition: 0.2s;
}

h2{
    font-weight: 700;
    width: minmax(100px,200px);
}

h4{
    font-weight: 500;
}

#profile{
    padding: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#profile img{
    width: 80%;
    border-radius: 200px;
    border: 2px rgb(50, 252, 0) solid;
}

#profile p{
    margin: 0;
}

#info{
    padding: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: right;
    row-gap: 10px;
}

#info img{
    margin-right: 12px;
    color: #c0a1b4;
    display: inline-block;
    vertical-align: middle;
}

#techs{
    width: 100%;
    padding: 15px 30px;
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#techs h2{
    float: top;
}

#tags {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#tags p{
    width: auto;
    margin: 5px 5px;
    padding: 5px 10px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #fac6e6;
    color: #0e0e0e;
    font-size: 13px;
    font-weight: 700;
}

#tags p:hover{
    background-color: #0e0e0e;
    color: #fac6e6;
    cursor: default;
    transition: 0.5s;
}

#exp{
    padding: 15px 30px;
    border-radius: 12px;
}

#exp li{
    margin: 8px 0px 2px;
}

#exp p{
    margin: 0px auto;
    font-size: 12px;
}

#ed{
    padding: 15px 30px;
    border-radius: 12px;
}

#ed li{
    margin: 8px 0px 2px;
}

#ed p{
    margin: 0px auto;
    font-size: 12px;
}

#title1, #title2{
    padding: 0px 30px;
    border-radius: 12px;
    display: grid;
    box-sizing: border-box;
}

.projects{
    display: flex;
    column-gap: 10px;
    row-gap: 20px;
    flex-wrap: wrap;
}

#project1, #project2{
    border-radius: 12px;
    padding: 20px 25px 0px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#project1 img, #project2 img{
    margin-right: 12px;
    vertical-align: middle;
}

.projectfooter{
    display: flex;
    justify-content: space-between;
}

.share{
    float: left;
    margin-top: 20px;
    min-width: 150px
}

.share img{
    width: 18px;
    vertical-align: middle;
}

.gitbranch{
    margin-left: 15px;
}

.language{
    float: right;
}

.language span{
    display: inline;
    font-size: 50px;
    vertical-align:middle;
    padding: 0;
    color: aquamarine;
}

#posts{
    padding: 30px;
    border-radius: 12px;
    display: flex;
}

#posts img{
    height: 140px;
    width: 150px;
    margin-right: 30px;
    object-fit: cover;
    border-radius: 12px;
    color: #c0a1b4;
    vertical-align: top;
}

#text{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

#posts h3, #posts h4, #posts p{
    margin: 5px 0px;
}

#posts p{
    font-size: 12px;
}

footer{
    text-align: center;
    margin: 30px auto 60px;
}